/*Globales*/

html {
  box-sizing: border-box;
  font-size: 62.35%;
  /*1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 auto;
}

/* 
.container {
  padding: 0 1rem;
  text-align: justify;

}
@media (min-width: 640px) {
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
} */
.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}