/* main.css */

/* Variables */
:root {
  --primary-100: #8B5D33;
  --primary-200: #be8a5e;
  --primary-300: #ffedbc;
  --accent-100: #BFBFBF;
  --accent-200: #616161;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #E5E5E5;
  --bg-200: #dbdbdb;
  --bg-300: #b3b3b3;
  

  /* OTROS */
  --primary-font: 'Roboto', sans-serif;
  /* --primary-color: #000;
  --background-color: #fff; */
  --max-width: 120rem;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  font-size: 1.6rem; /* 16px */
  font-optical-sizing: auto;
  line-height: 1.6;
  color: var(--primary-color);
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
  margin: 0 0 2rem 0;
  font-weight: 700;
}

h1 { font-size: 2.4rem; } /* 24px */
h2 { font-size: 2rem; } /* 20px */
h3 { font-size: 1.8rem; } /* 18px */
h4 { font-size: 1.6rem; } /* 16px */
h5 { font-size: 1.4rem; } /* 14px */
h6 { font-size: 1.2rem; } /* 12px */

p {
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
}

img, video, svg {
  height: auto;
  max-width: 100%;
  /* width: 100%; */
  display: block;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
}



