/* main.css */


/* Variables */
:root {
  /* Colores */
  --text-100: #575757;
  --text-200: #2E2E2E;
  --text-100-dm: #FFFFFF;
  --text-200-dm: #E0E0E0;
  --bg-0: #ffffff;
  --bg-0-dm: #284431;
  --bg-100: #7F9E87;
  --bg-100-dm: #3C5A49;
  --bg-200: #64826c;
  --bg-200-dm: #2B4035;
  --bg-300: #284431;
  --bg-300-dm: #18281F;
  --accent-100: #F2C057;
  --acent-100-dm: #D4AC08;
  --accent-200: #886300;
  --acent-200-dm: #B28A06;

  /* Otros */
  --primary-font: 'Roboto', sans-serif;
  --max-width: 120rem;
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--bg-0);
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-100);
  hyphens: auto;
  text-align: justify;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  color: var(--accent-200);
}

h3 {
  font-size: 1.8rem;
  color: var(--text-100);
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: var(--text-100);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;

}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  display: block;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
}

.darkMode {
  background-color: #222222;
  color: #ffffff;
}

.darkMode h2 {
  color: var(--acent-100-dm)
}

.darkMode h3 {
  color: var(--acent-200-dm)
}
.darkMode a{
  color: var(--text-100-dm);
}


.darkMode .container {}

.darkMode .card {}

.darkMode .modal {}