
html {
  box-sizing: border-box;
  font-size: 62.35%;
  /*1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
  background-image: url('/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Globals*/
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}