hermoso paisaje acuático:root {
  --AzulClaro: #00BFFF;
  --AzulOscuro: #000080;
  --VerdeEsmeralda: #008000;
  --Turquesa: #40E0D0;
  --Blanco: #FFFFFF;
  --AmarilloBrillante: #FFFF00;
  --Naranja: #FFA500;
  --GrisClaro: #CCCCCC;
  --Beige: #F5F5DC;

}

html {
  box-sizing: border-box;
  font-size: 62.35%;
  /*1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
  background-image: url('public/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Globals*/
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}